.spans{
    color: rgba(255, 255, 255, 0.6);
    margin: 5px;
    position: relative;
    top: 25px;
    left: 20px;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
}

.spans:hover{
    color: white;
    padding: 10px;
}

.a-spans{
    color: rgba(255, 255, 255, 1);
    margin: 5px;
    position: relative;
    top: 25px;
    left: 20px;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
    border-bottom: 3px solid #db322b;
    padding: 10px;
    color: white;
}

.ipt1{
    position: relative;
    left: 20px;
    top: 20px;
    color: black;
    padding: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    width: 47%;
}

.ipt2{
    display: block;
    position: relative;
    left: 20px;
    top: 40px;
    color: black;
    padding: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    width: 47%;
}

.ipt1:focus{
    border: none;
    outline: none;
}

.ipt2:focus{
    border: none;
    outline: none;
}

.btttn{
    position: relative;
    top: 60px;
    left: 20px;
    color: white;
    background-color: #db322b;
    border: none;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

.btttn:hover{
    background-color: rgba(255, 0, 0, 0.6);
}

.g-inp{
    position: relative;
    top:14.5vh;
    left: -5.5vw;
    border: none;
    height: 15vh;
    width: 26vw;
}

.h-ipt{
    display: block;
    position: relative;
    left: 20px;
    top: 20px;
    color: black;
    padding: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    width: 47%;
}

.h-btttn{
    position: relative;
    top: 140px;
    left: 20px;
    color: white;
    background-color: #42c956;
    border: none;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

.h-btttn:hover{
    background-color: green;
}

.h-ipt:focus{
    border: none;
    outline: none;
}

.nspan{
    text-decoration: none;
}