.seatsStatus ul li {
  align-items: center;
  color: #848899;
  padding: 0 10px;
  font-size: 12px;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 500;
  list-style: none;
}

.seatsStatus ul li span {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  margin-right: 8px;
}

.screen {
  background: url("https://bigmovies.com.np/Templates/BigMovies/images/px_by_Gre3g.png");
  text-transform: uppercase;
  height: 27px;
  line-height: 27px;
  font-size: 14px;
  letter-spacing: 10px;
  color: #fff;
  text-align: center;
  width: 70%;
  margin: 10px auto 10px;
  border-radius: 0 0 40px 40px;
}

.as_table {
  display: block;
  overflow: auto;
  padding: 20px;
}

.total_process {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 0;
  position: relative;
  bottom: 0;
  border-top: 1px solid #28346c;
  flex-direction: column;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.amount {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
}

.inner_amount {
  margin-bottom: 0 !important;
  margin-right: 15px !important;
  font-size: 20px !important;
  margin: 0 0 16px;
  padding: 0;
  color: white;
}

.inner_amount > h2 {
  font-size: 16px;
  margin: 0px;
  float: left;
  font-weight: 600;
}

.proceed {
  margin: 0px -8px;
}

.inner_proceed,
.proceeder {
  margin-left: 12px !important;
  display: block;
  font-size: 14px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 600;
}

.proceed > * {
  margin: 3px 5px;
  padding: 0 14px;
}

.floater {
  background-color: #44b35e;
  border: 1px solid #44b35e;
  float: left !important;
  text-decoration: none;
  height: 40px;
  line-height: 38px;
  padding: 0 15px;
}

.floater:hover {
  background-color: #348e37;
  border: 1px solid #348e37;
  animation: newer 0.3s ease;
}

@keyframes newer {
  0% {
    background-color: #44b35e;
    border: 1px solid #44b35e;
  }
  100% {
    background-color: #348e37;
    border: 1px solid #348e37;
  }
}

table {
  border-collapse: separate;
  border-spacing: 12px; /* Add gap between table cells */
  text-align: center;
}

td {
  padding: 6px 4px;
  box-sizing: border-box;
  width: 50px;
  background-color: #323645;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

td.gap {
  background-color: transparent;
  border: none;
}

td.reserved {
  background-color: #e53e3e;
  color: white;
}

/* td.selected {
  background-color: #d69e2e;
  color: white;
} */

td.selected {
  background-color: #38a169;
  color: white;
}

td.seat:hover{
  background-color: #cdced5;
  cursor: pointer;
}

