.topper{
    position: relative;
    top: -12vh;
}

.mnav{
    position: relative;
    top: 15vw;
}

.stat{
    position: relative;
    top: 16vw;
}
.mcollec{
    position: relative;
    top: 18vw;
}

.up{
    position: relative;
    top: 30vw;
}

.bottom{
    position: relative;
    top: 30.5vw;
}