.mnav{
    position: relative;
    top: 200px;
}

.stat{
    position: relative;
    top: 210px;
}
.mcollec{
    position: relative;
    top: 230px;
}

.up{
    position: relative;
    top: 370px;
}